body {
    width: 700px;
    margin: 0 auto;
    padding: 100px 0;
    font-family: serif;
    background-color: #eee;
}

h1 {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  
  color: black;
  background-color: aqua;
  border-radius: 10px;
  transition: 700ms;
}

h1:hover {
  background-color: black;
  color: aqua;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

td {
  border: 1px solid aqua;
  padding: 10px;
}

td {
  color: aqua;
  background-color: black;
  transition: 400ms;
}

td:hover {
  color: black;
  background-color: aqua;
}

tr:hover {
  padding-left: 100px;
}

.tr-last {
  height: 50px;
  width: 40px;
  background-color: blueviolet;
}

.tr-last:hover {
  color: blanchedalmond;
  background-color: blue;
}